# .NET
DOTNET_ENVIRONMENT=Teste

# Database
POSTGRES_CONNECTION_STRING=minha-connection-string

# Kafka
KAFKA_HOST=meu-provedor

# OpenTelemetry & Serilog
OTEL_EXPORTER_OTLP_ENDPOINT=http://meu-otel-exporter/